*.class
*.log
*.iml

# sbt specific
.cache/
.history/
.lib/
.gradle/
dist/*
build/*
target/
results/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.idea_modules
